In [3]:
import boto3
import awswrangler as wr
import pandas as pd
accessKeys = pd.read_csv("../../quant-bears_accessKeys.csv")
session = boto3.Session(
	aws_access_key_id=accessKeys.loc[0, "Access key ID"],
	aws_secret_access_key=accessKeys.loc[0, "Secret access key"]
)

s3_collection_path = "s3://quant-bears-data-collection/raw-data/seekingAlpha.seekingAlphaBulkMetrics/"

In [4]:
df_2023_09_19 = wr.s3.read_parquet(s3_collection_path + "2023-09-19.parquet", boto3_session=session)
df_2023_09_26 = wr.s3.read_parquet(s3_collection_path + "2023-09-26.parquet", boto3_session=session)

In [5]:
df_2023_09_19.head()

,ticker,altman_z_score,analysts_down,analysts_down_percent,analysts_down_percent_avg_5y,analysts_up,analysts_up_percent,analysts_up_percent_avg_5y,assets_turnover,assets_turnover_avg_5y,...,total_debt,total_revenue,working_cap_change,working_cap_change_avg_5y,yld_on_cost_1y,yld_on_cost_1y_avg_5y,yld_on_cost_3y,yld_on_cost_3y_avg_5y,yld_on_cost_5y,yld_on_cost_5y_avg_5y
0,AA,1.401235,9.0,100.000000,60.255886,0.0,0.000000,39.744114,0.728491,0.758183,...,1.834000e+09,1.086800e+10,-21.0507,20.532969,0.942063,NaN,3.003003,NaN,0.927644,NaN
1,AAP,2.266178,14.0,100.000000,38.802917,0.0,0.000000,61.197083,0.917976,0.930908,...,4.596040e+09,1.121875e+10,54.5253,-10.475822,2.847722,1.203241,3.086821,1.558655,2.833284,1.804696
2,ABCL,5.648530,1.0,14.285714,39.515347,6.0,85.714290,60.484653,0.092735,0.414523,...,8.403200e+07,1.451750e+08,-12.0268,2262.069600,NaN,NaN,NaN,NaN,NaN,NaN
3,ABCM,6.937922,1.0,25.000000,NaN,3.0,75.000000,NaN,0.363036,0.364674,...,2.755801e+08,4.822016e+08,23.8888,25.863136,NaN,NaN,NaN,NaN,NaN,NaN
4,ABEV,4.510405,2.0,66.666664,47.094288,1.0,33.333332,52.905710,0.612834,0.542864,...,8.554309e+08,1.727274e+10,-95.3390,116.744484,5.098481,3.130066,6.037113,2.510408,3.164189,1.532657

In [6]:
df_2023_09_26.head()

,ticker,altman_z_score,analysts_down,analysts_down_percent,analysts_down_percent_avg_5y,analysts_up,analysts_up_percent,analysts_up_percent_avg_5y,assets_turnover,assets_turnover_avg_5y,...,total_debt,total_revenue,working_cap_change,working_cap_change_avg_5y,yld_on_cost_1y,yld_on_cost_1y_avg_5y,yld_on_cost_3y,yld_on_cost_3y_avg_5y,yld_on_cost_5y,yld_on_cost_5y_avg_5y
0,AA,1.401235,7.0,100.000000,60.362130,0.0,0.000000,39.637870,0.728491,0.758034,...,1.834000e+09,1.086800e+10,-21.0507,20.329374,1.126443,NaN,3.463203,NaN,0.969932,NaN
1,AAP,2.266178,15.0,100.000000,39.140030,0.0,0.000000,60.859970,0.917976,0.930220,...,4.596040e+09,1.121875e+10,54.5253,-10.385799,2.959502,1.213778,3.179171,1.570691,2.838872,1.814740
2,ABCL,5.648530,1.0,14.285714,39.313187,6.0,85.714290,60.686813,0.092735,0.412051,...,8.403200e+07,1.451750e+08,-12.0268,2244.603300,NaN,NaN,NaN,NaN,NaN,NaN
3,ABCM,6.937922,2.0,50.000000,NaN,2.0,50.000000,NaN,0.363036,0.364662,...,2.755801e+08,4.822016e+08,23.8888,25.849815,NaN,NaN,NaN,NaN,NaN,NaN
4,ABEV,4.510405,2.0,66.666664,47.227093,1.0,33.333332,52.772907,0.612834,0.543050,...,8.554309e+08,1.727274e+10,-95.3390,116.636320,5.009965,3.142845,6.192575,2.536229,3.185144,1.544216

In [7]:
# Shapes
print(df_2023_09_19.shape)

print(df_2023_09_26.shape)

(1093, 265)
(1104, 265)

In [12]:
# Percentage overlap of screened tickers
overlapped_tickers = df_2023_09_19["ticker"][df_2023_09_19["ticker"].isin(df_2023_09_26["ticker"])]
overlapped_tickers.shape[0] / df_2023_09_19.shape[0]

0.9679780420860018

In [15]:
df_19 = df_2023_09_19.set_index("ticker").loc[overlapped_tickers]
df_26 = df_2023_09_26.set_index("ticker").loc[overlapped_tickers]
assert df_19.shape == df_26.shape, "Shape mismatch"

In [17]:
# Description of autocorrelation between columns
df_19.corrwith(df_26).describe()

count    263.000000
mean       0.986585
std        0.063279
min        0.378230
25%        0.997043
50%        0.999901
75%        0.999994
max        1.000000
dtype: float64

In [18]:
df_19.corrwith(df_26).sort_values()

ev_ebit_fy1                      0.378230
last_price_vs_sma_10d            0.394811
peg_nongaap_fy1                  0.634679
pe_nongaap_fy1                   0.679388
price_cf_ratio_fy1               0.818411
                                   ...
eps_gaap_annual_growth_yoy       1.000000
sustainable_growth_rate          1.000000
capm_alpha_60m                   1.000000
institutional_ownership_level    1.000000
peg_gaap_avg_5y                       NaN
Length: 264, dtype: float64

In [26]:
# Description of NAs in each column
df_19.isna().sum().describe()

count     264.000000
mean      304.981061
std       277.248436
min         0.000000
25%        48.000000
50%       217.000000
75%       566.250000
max      1057.000000
dtype: float64

In [35]:
# Find main price variable
df_19.columns[df_19.columns.str.contains("price")]

Index(['last_price_vs_sma_100d', 'last_price_vs_sma_10d',
       'last_price_vs_sma_200d', 'last_price_vs_sma_50d',
       'log_of_unadjusted_stock_price', 'price_cf_ratio',
       'price_cf_ratio_avg_5y', 'price_cf_ratio_fy1',
       'price_cf_ratio_fy1_avg_5y', 'price_close_10y', 'price_close_1m',
       'price_close_1w', 'price_close_1y', 'price_close_3y', 'price_close_5y',
       'price_close_6m', 'price_close_adj_10y', 'price_close_adj_1m',
       'price_close_adj_1w', 'price_close_adj_1y', 'price_close_adj_3y',
       'price_close_adj_5y', 'price_close_adj_6m', 'price_close_adj_ytd',
       'price_close_ytd', 'price_high_52w', 'price_low_52w', 'price_return_1y',
       'price_return_3m', 'price_return_6m', 'price_return_9m',
       'primary_price'],
      dtype='object')

In [36]:
price_diff = df_26["primary_price"] - df_19["primary_price"]
price_diff.head()

ticker
AA     -2.220000
AAP    -1.240000
ABCL   -0.360000
ABCM    0.060000
ABEV   -0.092967
Name: primary_price, dtype: float64

In [37]:
price_diff_pct = price_diff / df_19["primary_price"]
price_diff_pct.tail()

ticker
ZNTL   -0.077368
ZS     -0.037164
ZTO    -0.028343
ZUO    -0.036824
ZWS    -0.014565
Name: primary_price, dtype: float64

In [38]:
price_diff_pct.describe()

count    1058.000000
mean       -0.033572
std         0.048261
min        -0.301408
25%        -0.055550
50%        -0.029842
75%        -0.005902
max         0.299906
Name: primary_price, dtype: float64

In [41]:
X = df_19.copy()
X["target"] = price_diff_pct

In [59]:
# What correlates the most with the target variable?
feature_target_corr = X.corr()["target"].sort_values()
feature_target_corr

beta24                            -0.301661
coefficient_of_variation_90d      -0.273251
short_interest_percent_of_float   -0.241841
p_week_vol_shares                 -0.187265
div_payout_gaap_avg_5y            -0.169919
                                     ...
return_on_avg_tot_assets           0.205067
return_on_total_capital            0.256354
cf_payout_avg_5y                   0.443166
target                             1.000000
peg_gaap_avg_5y                         NaN
Name: target, Length: 265, dtype: float64

In [60]:
feature_target_corr.tail(20)

int_cover                         0.115490
gross_profit                      0.119107
earnings_yield_avg_5y             0.120022
net_income                        0.136344
div_yield_div_payout              0.140661
earn_yield_gaap_fy1_avg_5y        0.143412
div_yield_div_payout_avg_5y       0.144778
return_on_total_capital_avg_5y    0.150472
ebitda_margin                     0.154197
diluted_eps                       0.154245
ebit_margin                       0.155126
levered_fcf_margin                0.157841
earn_yield_gaap_fy1               0.161375
net_lt_debt_tot_assets_avg_5y     0.163731
eps_estimate                      0.191914
return_on_avg_tot_assets          0.205067
return_on_total_capital           0.256354
cf_payout_avg_5y                  0.443166
target                            1.000000
peg_gaap_avg_5y                        NaN
Name: target, dtype: float64

In [61]:
feature_target_corr_spearman = X.corr(method = "spearman")["target"].sort_values()
feature_target_corr_spearman

beta24                            -0.291399
ps_ratio_avg_5y                   -0.224339
ev_12m_sales_ratio_avg_5y         -0.220358
short_interest_percent_of_float   -0.217066
ev_ebit_fy1_avg_5y                -0.212758
                                     ...
int_cover                          0.323999
return_on_total_capital            0.331165
cf_payout_avg_5y                   0.545320
target                             1.000000
peg_gaap_avg_5y                         NaN
Name: target, Length: 265, dtype: float64

In [64]:
feature_target_corr_spearman.head(20)

beta24                            -0.291399
ps_ratio_avg_5y                   -0.224339
ev_12m_sales_ratio_avg_5y         -0.220358
short_interest_percent_of_float   -0.217066
ev_ebit_fy1_avg_5y                -0.212758
ev_12m_sales_ratio                -0.209231
ev_ebit_fy1                       -0.200193
ev_sales_fy1                      -0.199058
ev_sales_fy1_avg_5y               -0.195333
ev_ebitda_fy1                     -0.192411
ps_ratio_fy1_avg_5y               -0.190669
ps_ratio                          -0.181520
ps_ratio_fy1                      -0.181358
capex_change_avg_5y               -0.180312
revenue_change_display_avg_5y     -0.178451
current_ratio                     -0.177691
ev_ebit_avg_5y                    -0.169803
quick_ratio                       -0.169088
coefficient_of_variation_90d      -0.167828
p_week_vol_shares                 -0.166405
Name: target, dtype: float64

In [66]:
"""
Relatively important feature definitions

POSITIVE CORRELATION:

int_cover: Interest Coverage
cf_payout_avg_5y: Cash Flow Payout Ratio Average 5 years
return_on_avg_tot_assets: Return on Average Total Assets
return_on_total_capital: Return on Total Capital
eps_estimate: Earnings per Share estimate
ebitda: Earnings before Interests, Taxes, Depreciation, and Amoritization
net_income: Net Income
net_inc_per_employee: Net income per employee
tev: Total Enterprise Valuation
total_revenue: Total Revenue
total_cash: Total Cash

NEGATIVE CORRELATION:

beta24: Expected move in stock relative to market (higher beta means more similar to market)
short_interest_percent_of_float: Short Interest Percent
ps_ratio_avg_5y: Price to Sales ratio Average 5 years
net_lt_debt_tot_assets_avg_5y: Net long term debt over total assets (average 5 years)
ev_12m_sales_ratio: Enterprise Value (12 months) to Sales
"""
pass

In [68]:
X.loc["AA", "net_lt_debt_tot_assets_avg_5y"]

3.888923

In [70]:
df_26.loc["AA", "ev_12m_sales_ratio_avg_5y"]

nan

In [73]:
X["ev_12m_sales_ratio_avg_5y"].head()

ticker
AA           NaN
AAP     1.298646
ABCL         NaN
ABCM         NaN
ABEV    3.926235
Name: ev_12m_sales_ratio_avg_5y, dtype: float64

In [74]:
df_26.loc["AAP", "ev_12m_sales_ratio_avg_5y"]

1.2960672

In [84]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize

In [78]:
y = X["target"]
X_ = X.drop("target", axis = 1)

In [92]:
X_norm = normalize(X_.fillna(0.))
X_norm[0, 0:5]

array([8.94629313e-11, 5.74611954e-10, 6.38457727e-09, 3.84708360e-09,
       0.00000000e+00])

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, shuffle=True, train_size=.8)

linreg = LinearRegression()
linreg.fit(X_train, y_train)

print("Train score:")
print(linreg.score(X_train, y_train))
print("Test score:")
print(linreg.score(X_test, y_test))

Train score:
0.5185960062817105
Test score:
-113.91023390198343

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, shuffle=True, train_size=.8)

forest = RandomForestRegressor()
forest.fit(X_train, y_train)

print("Train score:")
print(forest.score(X_train, y_train))
print("Test score:")
print(forest.score(X_test, y_test))

Train score:
0.8678315677917321
Test score:
0.07678440269685538

In [100]:
pd.DataFrame(list(zip(X_.columns, forest.feature_importances_))).sort_values(1)

                                           0         1
0                             altman_z_score  0.000000
152                       momentum_6m_avg_5y  0.000000
154                       momentum_9m_avg_5y  0.000000
161                   net_lt_debt_tot_assets  0.000000
162            net_lt_debt_tot_assets_avg_5y  0.000000
..                                       ...       ...
129                             gross_profit  0.061721
19   cash_from_operations_as_reported_avg_5y  0.066856
158                               net_income  0.069040
18          cash_from_operations_as_reported  0.071663
92                                    ebitda  0.122119

[264 rows x 2 columns]

In [102]:
# Try as classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [105]:
y_ = np.float32(y > 0.)

X_train, X_test, y_train, y_test = train_test_split(X_norm, y_, shuffle=True, train_size=.8)

linreg = LogisticRegression()
linreg.fit(X_train, y_train)

print("Train score:")
print(linreg.score(X_train, y_train))
print("Test score:")
print(linreg.score(X_test, y_test))

Train score:
0.8014184397163121
Test score:
0.8066037735849056

In [107]:
y_ = np.float32(y > 0.)

X_train, X_test, y_train, y_test = train_test_split(X_norm, y_, shuffle=True, train_size=.8)

forest = RandomForestClassifier()
forest.fit(X_train, y_train)

print("Train score:")
print(forest.score(X_train, y_train))
print("Test score:")
print(forest.score(X_test, y_test))

Train score:
0.9905437352245863
Test score:
0.8301886792452831

In [113]:
pd.DataFrame(list(zip(X_.columns, forest.feature_importances_))).sort_values(1, ascending=False).head(30)

                                           0         1
255                            total_revenue  0.060445
18          cash_from_operations_as_reported  0.055935
253                               total_cash  0.054289
92                                    ebitda  0.052201
158                               net_income  0.051672
145                                marketcap  0.050754
129                             gross_profit  0.050411
19   cash_from_operations_as_reported_avg_5y  0.049065
254                               total_debt  0.048910
249                                      tev  0.046501
146                        marketcap_display  0.046174
156                     net_inc_per_employee  0.045456
157              net_inc_per_employee_avg_5y  0.043188
141                   levered_free_cash_flow  0.042022
174                         other_cap_struct  0.031309
50                              div_pay_date  0.029914
134                            last_div_date  0.028347
165                      number_of_employees  0.025564
155  net_asset_to_pension_liabilities_annual  0.018840
130                         impliedmarketcap  0.009592
102               eps_gaap_annual_growth_yoy  0.007593
159                       net_lt_debt_ebitda  0.007536
133                         int_cover_avg_5y  0.007423
187                                 pe_ratio  0.006745
132                                int_cover  0.006083
166                                op_cf_yoy  0.005990
37                 diluted_eps_growth_avg_5y  0.005985
173         operating_income_ebit_yoy_avg_5y  0.005785
31                                   debt_eq  0.005341
143        levered_free_cash_flow_yoy_avg_5y  0.005190

In [118]:
feature_target_corr["total_cash"]

0.07075762886163683